.app {

	section {
		&#hero {
			height: 500px;
			padding: 50px 40px;
			color: #333;
			background-image: url('assets/images/porsche-normal.webp');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50%;
			cursor: pointer;
			div {
				&.container {
					color: #333;
					transition: all ease 1s;
					h2, h3 {
						margin: 0;
					}
					h2 {
						font-weight: 600;
						line-height: 38px;
						font-size: 2em;
						&::before {
							width: 1em;
							color: #d5001c;
							font-size: 28px;
							content: ">";
							margin-left: -18px;
						}
					}
					h3 {
						font-weight: 600;
						line-height: 1.5em;
						font-size: 1.5em;
					}
					&:hover {
						color: red;
					}
				}
			}
		}
	}

}

@media screen and (min-width: 1200px) {
	.app {
		section {
			&#hero {
				div {
					&.container {
						h2, h3 {
							max-width: 1200px;
							width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}